* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #255ee9;
    display: flex;
    height: 75px;
    
}

li {
    list-style: none;
}

li a {
    color: white;
    text-decoration: none;
}


.flex-container {
    display: flex;
}

nav {
    flex-grow: 3;
}


ul {
    justify-content: space-around;
}

.container {
    width: 80%;
    align-items: center;
    margin: 0px auto;
}


.logo {
    flex-grow: 1;
}

.login {
    flex-grow: 1;
    text-align: right;
}

button {
    padding: 8px 14px;
    border-radius: 30px;
    border: none;
}

/* prima-sezione */

.prima-sezione {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 620px;
}

.interno-1-sezione {
    width: 1050px;
    margin: 0 auto;
    text-align: center;
    margin-top: 157px;
}

.title1 {
    font-size: 60px;
    color: white;
    margin-bottom: 25px;
}

.paragraph1 {
    font-size: 30px;
    color: white;
}

.mac-browser {
    margin-top: 20px;
}

.s-mac {
    padding: 20px;
    font-size: 20px;
}

.a-browser {
    padding: 20px;
    font-size: 20px;
    background-color: black;
    color: white;
}

/* seconda-sezione */

.seconda-sezione {
    padding: 100px;
}

.title2-4 {
    font-size: 30px;
    width: 320px;
    margin-bottom: 40px;
}

.title2-title4-h1 {
    margin-bottom: 40px;
}

.paragraph2 {
    width: 465px;
    font-size: 25px;
    
}

.img {
    width: 55%;
    height: 520px;
}


/* terza-sezione */

.img2 {
    width: 55%;
    height: 520px;
    margin-left: 20%;
}

.title3 {
    font-size: 30px;
    width: 320px;
    margin: 0 0 40px 60px;
    
}

.title3-h1 {
    margin-bottom: 40px;
}

.terza-sezione {
    background-color: #f6f6f6;
    padding: 20px;
}

.paragraph3 {
    width: 465px;
    font-size: 25px;
}


/* quinta-sezione */


.title-5 {
    font-size: 50px;    
    margin: 80px 0 20px 300px;
}

.paragraph5 {
    width: 1120px;
    font-size: 25px;
    margin-left: 250px;
}

.img5 {
    width: 1200px;   
    margin-left: 150px;
}


.last-title-main {
    background-image: url(../img/stars.svg);
    font-size: 40px;
}

.s-mac2 {
    padding: 15px;
    font-size: 20px;
    background-color: #7289da;
    color: white;
    margin: 50px 0 20px 210px;
}

.adventure {
    margin: 50px 0px 50px 500px;
}

/* footer */

.sfondo-nero {
    background-color: #000000;
    padding: 80px;
}

.img-footer {
    width: 20%;
    height: 300px;
    margin-bottom: 20px;
}

.rows {
    line-height: 30px;
    
}

.rows h1 {
    color: #7289da;
    font-size: 35px;
    margin-bottom: 10px;
}

.rows img {
    width: 30px;
}

.ita {
    color: white;
    display: inline-block;
    vertical-align: 5px;
}

.social {
    color: white;
}


.varie-sec {
    background-color: #329fbe;
    width: 20%;
    height: 300px;
    margin-bottom: 20px;
}

hr {
    border-color: gray;
}

.logo-bottone {
    background-color: #2ad6b4;
    justify-content: space-between;
    height: 50px;
}

.logo-end {
    background-color: #e78787;
    padding: 5px;
}

.bottone-end {
    background-color: #e78787;
    padding: 5px;
}
