* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #255ee9;
    display: flex;
    height: 75px;
    
}

li {
    list-style: none;
}

li a {
    color: white;
    text-decoration: none;
}


.flex-container {
    display: flex;
}

nav {
    flex-grow: 3;
}


ul {
    justify-content: space-around;
}

.container {
    width: 80%;
    align-items: center;
    margin: 0px auto;
}


.logo {
    flex-grow: 1;
}

.login {
    flex-grow: 1;
    text-align: right;
}

button {
    padding: 8px 14px;
    border-radius: 30px;
    border: none;
}

/* prima-sezione */

.prima-sezione {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 620px;
}

.interno-1-sezione {
    width: 1050px;
    margin: 0 auto;
    text-align: center;
    margin-top: 157px;
}

.title1 {
    font-size: 60px;
    color: white;
    margin-bottom: 25px;
}

.paragraph1 {
    font-size: 30px;
    color: white;
}

.mac-browser {
    margin-top: 20px;
}

.s-mac {
    padding: 20px;
    font-size: 20px;
}

.a-browser {
    padding: 20px;
    font-size: 20px;
    background-color: black;
    color: white;
}

/* seconsa-sezione */

.seconda-sezione {
    padding: 100px;
}

.interno-2 {
    
}

.title2 {
    font-size: 30px;
}

.img {
    width: 50%;
}

.testo1 {

}

/* terza-sezione */

.img2 {
    background-color: #eaa1e8;
    height: 300px;
    flex-basis: 40%;
}

.testo2 {
    background-color: #2c69dc;
    flex-basis: 60%;
    height: 300px;
}

.terza-sezione {
    background-color: #b5b5b5;
    padding: 20px;
}

/* quinta-sezione */
.sezione-grande {
    background-color: #0d5b09;
    height: 800px;
    width: 1500px;
    margin: 0 auto;
}

/* footer */

.sfondo-nero {
    background-color: #000000;
    padding: 20px;
}

.img-footer {
    background-color: #7d2c2c;
    width: 20%;
    height: 300px;
    margin-bottom: 20px;
}

.varie-sec {
    background-color: #329fbe;
    width: 20%;
    height: 300px;
    margin-bottom: 20px;
}

hr {
    border-color: gray;
}

.logo-bottone {
    background-color: #2ad6b4;
    justify-content: space-between;
    height: 50px;
}

.logo-end {
    background-color: #e78787;
    padding: 5px;
}

.bottone-end {
    background-color: #e78787;
    padding: 5px;
}
